:root .monochrome-spectrum,
.theme-dark.monochrome-spectrum {
  --monochrome-hue: 50;
  --monochrome-saturation: 30;
  --monochrome-lightness: 30;
  /* prettier-ignore */
  --monochrome-hsl: hsl(
    var(--monochrome-hue)deg,
    var(--monochrome-saturation)%,
    var(--monochrome-lightness)%
  );
  --main-node: var(--monochrome-hsl);
}
